*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.small-box{
    width: 300px;
    height: 500px;
    background-color: rgba(151, 149, 149, 0.082);
    border-radius: 15px;
}
.name{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.country{
    color: rgb(61, 141, 61);
    text-align: center;
    font-size: 10px;
}
img{
    max-width: auto;
    max-height: auto;
    border-radius: 100%;
    /* border: solid; */
    /* border-color: white; */
}
.image{
    height: 70px;
    width: 90px;
    border-radius: 100%;
    margin-left: 110px;
    position: relative;
    margin-top: 30px;
}
.about{
    position: relative;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 13px;
}
.button{
    background-color: rgba(151, 149, 149, 0.082);
    color: white;
    border: none;
    height: 32px;
    width: 200px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
}